h1{
	text-transform: uppercase;
	font-style:  italic;
	font-weight: 100;
	font-family: fantasy, arial;
	letter-spacing: 20px;
    line-height: 60px;
    text-align: right;
    text-decoration: line-through;
}


div.caixa{
	border: 1px dashed red; /* rebordo tracejado 1px vermelho */
	width:  50%; /*largura 50% da área disponivel*/
	margin: 50px 30px 100px 120px; /* margem 50px em cima , 
	30px direita , 100px baixo á esquerda */
	padding:  30px;
	float: left; /* encosta a esquerda*/ 
}

div.logo{
	width: 100px;
	float: right;  /* encosta a direita */
}
